SemverQuery(
    id: "associated_const_missing",
    human_readable_name: "",
    description: "TODO",
    required_update: Major,  // TODO
    reference_link: None,  // TODO
    query: r#"
    {
        CrateDiff {
            baseline {
                item {
                    ... on ImplOwner {
                        inherent_impl {
                            associated_constant {
                                name @output @tag
                                default @output

                                span_: span @optional {
                                    filename @output
                                    begin_line @output
                                }
                            }
                        }
                    }
                }
            }
            current {
                item @fold @transform(op: "count") @filter(op: "=", value: ["$zero"]) {
                    ... on ImplOwner {
                        inherent_impl {
                            associated_constant {
                                name @filter(op: "=", value: ["%name"])
                            }
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "zero": 0,
    },
    error_message: "A const associated with an impl is either missing, renamed, or made private/public",
    per_result_error_template: Some("TODO"),
)
