SemverQuery(
    id: "associated_const_missing",
    human_readable_name: "",
    description: "TODO",
    required_update: Major,  // TODO
    reference_link: None,  // TODO
    query: r#"
    {

        # Key assumption:
        # 
        # Since `impl` blocks are usually required by the compiler to
        # define the constants for the trait, we don't need to check 
        # whether its missing there but instead whether its missing 
        # in the trait
        CrateDiff {
            baseline {
                item {
                    ... on Trait {
                        importable_path {
                            path @output @tag
                        }

                        associated_constant {
                            name @output @tag
                            default @output

                            span_: span @optional {
                                filename @output
                                begin_line @output
                            }
                        }
                    }
                }
            }
            current {
                item @fold @transform(op: "count") @filter(op: "=", value: ["$zero"]) {
                    ... on Trait {
                        importable_path {
                            path @filter(op: "=", value: ["%path"])
                        }
                        associated_constant {
                            name @filter(op: "=", value: ["%name"])
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "zero": 0,
    },
    error_message: "A const associated with an impl is either missing, renamed, or made private/public",
    per_result_error_template: Some("TODO"),
)
